:root {
  --test-container: #819b57; /*css-змінні , контейнери*/
  --color-light: #faf4ea;
  --color-primay-dark: #31261a;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondury: #a18268;
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
