.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.5s, visibility 0.5s;
  @media screen and (max-width: $bp-tablet) {
    padding: 16px;
  }

  &--is-hidden {
    /*display: none;  ховає повністю від читача*/
    opacity: 0; /* Робить повністю прозорим*/
    visibility: hidden; /* Ховає елемент*/
    pointer-events: none /* Не будуть працювати жодні кліки*/;
  }
}
