.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;
    @media screen and (max-width: $bp-desktop) {
      margin: 0 auto 24px;
      text-align: center;
    }

    &--accent {
      color: var(--color-brand-dark);
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: 24px;
      width: 353px;
      border: 2px solid var(--color-brand-light);
      content: "";
      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      right: 0;
      bottom: 24px;
      width: 353px;
      border: 2px solid var(--color-brand-light);
      content: "";
      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }
  }
  &__list {
    display: flex;
    gap: 40px 30px;
    @media screen and (max-width: $bp-desktop) {
      flex-wrap: wrap;
    }
  }
  &__team {
    flex-basis: calc((100% - 30px) / 2);
    @media screen and (max-width: $bp-desktop) {
      flex-basis: 100%;
    }
  }
}
