.footer {
  position: relative;
  padding: 32px 0;
  background-image: url("../images/fon2.png");
  background-color: var(--color-primay-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__conteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: " ";
  }
  &::before {
    background-image: url(../images/decor\ bread-small.png);
    width: 181px;
    height: 120px;
  }
  &::after {
    background-image: url(../images/bread-large.png);
    width: 324px;
    right: 32px;
    height: 164px;
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__address-link {
    color: var(--color-light);
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 16px;
    text-decoration: none;
    transition: color 0.3s;
  }
  &__address-link:hover {
    color: var(--test-container);
    text-decoration: none;
  }
  &__address-copyright {
    font-size: 14px;
    color: var(--color-light);
  }
  &__address-icon {
    margin-right: 16px;
    fill: var(--color-light);
    stroke: rgb(205, 123, 8);
  }
  &__address-icon:hover {
    fill: var(--test-container);
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    gap: 20px;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0;
    }
  }
  &__logo,
  &__menu {
    flex-basis: 50%;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }
}
