.format-card {
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
  &__walrus {
    background-size: cover;
    height: 444px;
    border: 1px solid #888685;
    border-radius: 16px;
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primay-dark) 100%
      ),
      url(../images/cad-walrus.jpg);

    background-repeat: no-repeat;
  }

  &__horseshoe {
    background-size: cover;
    height: 444px;
    border: 1px solid #888685;
    border-radius: 16px;
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primay-dark) 100%
      ),
      url(../images/cad-horseshoe.jpg);
    background-repeat: no-repeat;
  }

  &__handlebar {
    background-size: cover;
    height: 444px;
    border: 1px solid #888685;
    border-radius: 16px;
    background-image: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primay-dark) 100%
      ),
      url(../images/cad-handlebar.jpg);
    background-repeat: no-repeat;
  }

  &__title {
    padding: 24px;
    color: var(--color-light);
    font-size: 24px;
    font-weight: 600;
    transform: translateY(160px);
    @media screen and (max-width: $bp-desktop) {
      font-size: 18px;
    }
  }
  &__text {
    max-width: 100%;
    color: var(--color-light);
    font-size: 14px;
    font-weight: 300;
    transform: translateY(160px);
    padding: 24px;
    @media screen and (max-width: $bp-tablet) {
      font-size: 12px;
    }
  }
}
